<a href="https://colab.research.google.com/github/ItzelPF/Visualizacion_Datos/blob/main/Uniones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tipos de uniones (join) en PYthon:**


1.   Inner Join:

*     Incluye
*     Elemento de la lista




2.   Elemento de la lista

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Nombre': ['Ana', 'Juan', 'María', 'Carlos'],
    'Departamento': ['Ventas', 'IT', 'Marketing', 'RH']
})

df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'Salario': [50000, 60000, 55000, 65000],
})

print('DataFrame 1:')
print(df1)
print('\nDataFrame 2:')
print(df2)

DataFrame 1:
   ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   María    Marketing
3   4  Carlos           RH
DataFrame 2:
   ID  Salario
0   3    50000
1   4    60000
2   5    55000
3   6    65000

Fusión inner

In [ ]:
inner_merge = pd.merge(df1, df2, on='ID', how='inner')
print('\nFusión inner:')
print(inner_merge)

Fusión inner:
   ID  Nombre Departamento  Salario
0   3   María    Marketing    50000
1   4  Carlos           RH    60000

Fusión Outer

In [ ]:
outer_merge = pd.merge(df1, df2, on='ID', how='outer')
print('\nFusión outer:')
print(outer_merge)

Fusión outer:
   ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   María    Marketing  50000.0
3   4  Carlos           RH  60000.0
4   5     NaN          NaN  55000.0
5   6     NaN          NaN  65000.0

Fusión left

In [ ]:
left_merge = pd.merge(df1, df2, on='ID', how='left')
print('\nFusión left:')
print(left_merge)

left_merge = pd.merge(df2, df1, on='ID', how='left')
print('\nFusión left 2:')
print(left_merge)

Fusión left:
   ID  Nombre Departamento  Salario
0   1     Ana       Ventas      NaN
1   2    Juan           IT      NaN
2   3   María    Marketing  50000.0
3   4  Carlos           RH  60000.0

Fusión left 2:
   ID  Salario  Nombre Departamento
0   3    50000   María    Marketing
1   4    60000  Carlos           RH
2   5    55000     NaN          NaN
3   6    65000     NaN          NaN

Fusión RIght

In [ ]:
right_merge = pd.merge(df1, df2, on='ID', how='right')
print('\nFusión right:')
print(right_merge)

Fusión rightr:
   ID  Nombre Departamento  Salario
0   3   María    Marketing    50000
1   4  Carlos           RH    60000
2   5     NaN          NaN    55000
3   6     NaN          NaN    65000

Concatenación

In [ ]:
df3 = pd.DataFrame({
    'ID': [7, 8],
    'Nombre': ['Sofia', 'Pedro'],
    'Departamento': ['Finanzas', 'Ventas']
})
concatenated = pd.concat([df1, df3])
print("Concatencación:")
print(concatenated)

Concatencación:
   ID  Nombre Departamento
0   1     Ana       Ventas
1   2    Juan           IT
2   3   María    Marketing
3   4  Carlos           RH
0   7   Sofia     Finanzas
1   8   Pedro       Ventas